img{
    width:100%;
    display:block;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size:6.25rem;
    font-weight:900;
    line-height:90%;
    margin-top:6.25rem;
    margin-bottom:6.25rem;
}

h1.bigblue{
    color:rgb(0,80,255);
    font-size:21.875rem;
    font-weight:900;
    line-height:90%;
    margin-left: -1.2rem;
    margin-top:0rem;
}

/*p{*/
    /*font-size:1rem;*/
    /*line-height:1.625rem;*/
/*}*/


.margin-bottom{
    margin-bottom:50px;
}